body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background: url('images/IMG_5566.JPG') fixed;
  background-size: cover;

}

header{
  background-color: rgba(250, 185, 45, 0.9);
  height: 100px;
  z-index:10;
}


header h1{
padding-top: 25px;
 height: 80px;

}
